.hero-banner {
    background-image: url('/hero.jpg');
    background-size: cover; 
    color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
 
    .hero-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 40%;
        
        
         h1, h2, p, .discover-button {
            height: fit-content;
         }

         h1 {
            font-size: 60px;
         }

         h2 {
            font-size: 36px;
            margin-bottom: 10px;
         }
         p {
            font-size: 22px;
            width: 50%;
            text-align: center;
            color: rgb(227, 227, 227);
            margin-bottom: 30px;
        }

        .discover-button {
            border: solid 1px white;
            padding: 15px;
            border-radius: 10px;
            background-color: white;
            color: black;
        }

        .discover-button:hover {
            transform: scale(1.2);
            box-shadow: 5px 5px 16px rgba(2, 2, 2, 0.797);
            transition: all 0.2s ease;
            cursor: pointer;
        }
    }
}